<div class="container">

  <% if current_user.uid.nil? %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="alert-danger">
      <%= devise_error_messages! %>
    </div>
    
    <br />

    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-info">
          <div class="panel-heading"><h3 class="panel-title">Edit <%= resource_name.to_s.humanize %></h3></div>
          <div class="panel-body">

            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.email_field :email, class: 'form-control' %>
                </div>
              </div>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div class="alert-warning">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            <hr>

            <div class="row">
              <div class="col-md-8">
                <div class="form-group ">
                  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
                  <%= f.password_field :password, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation, class: 'form-control' %>
                </div>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-md-8">
                <div class='form-group'>
                  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
                  <%= f.password_field :current_password, class: 'form-control' %>
                </div>
              <div >
                <div class="form-group"><%= f.submit "Update", class: 'btn btn-success' %></div>
              </div>
              </div>
            </div>

          </div> <!-- Panel body closes -->
        </div>
      <% end %>
    </div>
  </div>

  <% end %>
  <br />
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">    
          <h3 class="panel-title">Membership</h3>
        </div>
        <div class="panel-body">
          <div class="well well-sm text-center"><%= current_user.role.capitalize %></div>
            <% if current_user.stripe_id.nil? %>
              <%= link_to "Upgrade Membership", new_subscription_path, class: 'btn btn-success' %>
            <% else %>
              <%= link_to "Change Membership", new_subscription_path, class: 'btn btn-success' %>
            <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Delete my account</h3>
        </div>
        <div class="panel-body">
          <p>By deleting the account, you are also deleting all the content associated with it. To downgrade your account to free, choose "<strong>Change Your Membership</strong>" instead. <%= button_to "Delete my account", registration_path(resource_name), class: 'btn btn-danger', data: { confirm: "Are you sure? This action cannot be undone." }, method: :delete %></p>
        </div>
      </div>
    </div>
  </div><!-- row -->
</div> <!-- container -->
<%= link_to "Back", :back %>