<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "StoryTeller", about_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% unless current_user %>
          <li><%= link_to "Sign in", new_user_session_path%></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% else %>
          <li><%= link_to "Sign out", sign_out_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "About", about_path %></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
              <!-- flash -->
        <% if flash[:notice] %>
          <div class="alert-success text-center" id="flash">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <% if flash[:error] %>
          <li class="alert-danger text-center" id="flash">
            <%= flash[:error] %>
          </li>
        <% end %>
        <% if flash[:alert] %>
          <li class="alert-warning text-center" id="flash">
            <%= flash[:alert] %>
          </li>
        <% end %>
    </div><!--/.nav-collapse -->
</div><!--/.navbar -->